* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-primary: #1f1b24;
  --text-color: #ffffff;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-primary);
  color: var(--text-color);
}
